In [1]:
import pandas as pd

# Load dataset and assign to df
df = pd.read_csv("name.csv")

# Display first few rows
print(df.head()) # first 5 is default will appear we can change the valuse 
print(df.tail())

   Sales  CompPrice  Income
0   9.50      138.0    73.0
1  11.22      111.0    48.0
2  10.06      113.0   100.0
3   7.40        NaN   100.0
4   4.15      141.0    64.0
   Sales  CompPrice  Income
4   4.15      141.0    64.0
5  10.81      124.0     NaN
6  10.81        NaN   105.0
7  11.85      136.0    81.0
8   6.54      132.0   110.0

In [2]:
df ['CompPrice'].fillna(df['CompPrice'].median(),inplace=True) #it will replace the null are with mean  
print(df)

   Sales  CompPrice  Income
0   9.50      138.0    73.0
1  11.22      111.0    48.0
2  10.06      113.0   100.0
3   7.40      132.0   100.0
4   4.15      141.0    64.0
5  10.81      124.0     NaN
6  10.81      132.0   105.0
7  11.85      136.0    81.0
8   6.54      132.0   110.0

C:\Users\student\AppData\Local\Temp\ipykernel_19556\875491997.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df ['CompPrice'].fillna(df['CompPrice'].median(),inplace=True) #it will replace the null are with mean

In [3]:
df ['Income'].fillna('0000',inplace=True)
print(df)

   Sales  CompPrice Income
0   9.50      138.0   73.0
1  11.22      111.0   48.0
2  10.06      113.0  100.0
3   7.40      132.0  100.0
4   4.15      141.0   64.0
5  10.81      124.0   0000
6  10.81      132.0  105.0
7  11.85      136.0   81.0
8   6.54      132.0  110.0

C:\Users\student\AppData\Local\Temp\ipykernel_19556\82127345.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df ['Income'].fillna('0000',inplace=True)
C:\Users\student\AppData\Local\Temp\ipykernel_19556\82127345.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0000' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df ['Income'].fillna('0000',inplace=True)

In [8]:
df.drop_duplicates()

   Sales   CompPrice Income
0   9.50  138.000000   73.0
1  11.22  111.000000   48.0
2  10.06  113.000000  100.0
3   7.40  127.857143  100.0
4   4.15  141.000000   64.0
5  10.81  124.000000   0000
6  10.81  127.857143  105.0
7  11.85  136.000000   81.0
8   6.54  132.000000  110.0

In [5]:
df.duplicated().info()
print(df)

<class 'pandas.core.series.Series'>
RangeIndex: 9 entries, 0 to 8
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      bool
dtypes: bool(1)
memory usage: 137.0 bytes
   Sales  CompPrice Income
0   9.50      138.0   73.0
1  11.22      111.0   48.0
2  10.06      113.0  100.0
3   7.40      132.0  100.0
4   4.15      141.0   64.0
5  10.81      124.0   0000
6  10.81      132.0  105.0
7  11.85      136.0   81.0
8   6.54      132.0  110.0

In [6]:
df.drop_duplicates(column=['Income'])

TypeError: DataFrame.drop_duplicates() got an unexpected keyword argument 'column'

In [8]:
df_no_duplicates = df.drop_duplicates(subset=['Income'], keep='100') 
print("\nAfter Removing Duplicates Based on Specific Column:")
print(df_no_duplicates.info())
print(df)

After Removing Duplicates Based on Specific Column:
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 0 to 8
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sales      8 non-null      float64
 1   CompPrice  8 non-null      float64
 2   Income     8 non-null      object
dtypes: float64(2), object(1)
memory usage: 256.0+ bytes
None
   Sales  CompPrice Income
0   9.50      138.0   73.0
1  11.22      111.0   48.0
2  10.06      113.0  100.0
3   7.40      132.0  100.0
4   4.15      141.0   64.0
5  10.81      124.0   0000
6  10.81      132.0  105.0
7  11.85      136.0   81.0
8   6.54      132.0  110.0

NameError: name 'num_cols' is not defined