In [6]:
import pandas as pd

# Load dataset and assign to df
df = pd.read_csv("data.csv")

# Display first few rows
print(df.head()) # first 5 is default will appear we can change the valuse 
print(df.tail())
# last  5 is default will appear we can change the valuse

   Sales  CompPrice  Income  Advertising  Population
0   9.50        138      73           11         276
1  11.22        111      48           16         260
2  10.06        113      35           10         269
3   7.40        117     100            4         466
4   4.15        141      64            3         340
    Sales  CompPrice  Income  Advertising  Population
14  11.17        107     117           11         148
15   8.71        149      95            5         400
16   7.58        118      32            0         284
17  12.29        147      74           13         251
18  13.91        110     110            0         408

In [7]:
print(df.head(10))
print(df.tail(10))

   Sales  CompPrice  Income  Advertising  Population
0   9.50        138      73           11         276
1  11.22        111      48           16         260
2  10.06        113      35           10         269
3   7.40        117     100            4         466
4   4.15        141      64            3         340
5  10.81        124     113           13         501
6   6.63        115     105            0          45
7  11.85        136      81           15         425
8   6.54        132     110            0         108
9   4.69        132     113            0         131
    Sales  CompPrice  Income  Advertising  Population
9    4.69        132     113            0         131
10   9.01        121      78            9         150
11  11.96        117      94            4         503
12   3.98        122      35            2         393
13  10.96        115      28           11          29
14  11.17        107     117           11         148
15   8.71        149      95            5         400
16   7.58        118      32            0         284
17  12.29        147      74           13         251
18  13.91        110     110            0         408

In [8]:
df.shape #show the number of rows and column

(19, 5)

In [9]:
df.info # show entire dataset

<bound method DataFrame.info of     Sales  CompPrice  Income  Advertising  Population
0    9.50        138      73           11         276
1   11.22        111      48           16         260
2   10.06        113      35           10         269
3    7.40        117     100            4         466
4    4.15        141      64            3         340
5   10.81        124     113           13         501
6    6.63        115     105            0          45
7   11.85        136      81           15         425
8    6.54        132     110            0         108
9    4.69        132     113            0         131
10   9.01        121      78            9         150
11  11.96        117      94            4         503
12   3.98        122      35            2         393
13  10.96        115      28           11          29
14  11.17        107     117           11         148
15   8.71        149      95            5         400
16   7.58        118      32            0         284
17  12.29        147      74           13         251
18  13.91        110     110            0         408>

In [11]:
df.isnull() #it will show True if any null value is occur or show false

    Sales  CompPrice  Income  Advertising  Population
0   False      False   False        False       False
1   False      False   False        False       False
2   False      False   False        False       False
3   False      False   False        False       False
4   False      False   False        False       False
5   False      False   False        False       False
6   False      False   False        False       False
7   False      False   False        False       False
8   False      False   False        False       False
9   False      False   False        False       False
10  False      False   False        False       False
11  False      False   False        False       False
12  False      False   False        False       False
13  False      False   False        False       False
14  False      False   False        False       False
15  False      False   False        False       False
16  False      False   False        False       False
17  False      False   False        False       False
18  False      False   False        False       False

In [10]:
df.isnull().sum() #show totally

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
dtype: int64

In [11]:
df.isnull().sum()/df.shape[0]*100  # it will show how many null values in the percentage

Sales          0.0
CompPrice      0.0
Income         0.0
Advertising    0.0
Population     0.0
dtype: float64

In [12]:
df.duplicated() # show any duplicate valuse

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
dtype: bool

In [15]:
df.duplicated().sum() #it will show calculate all the duplicate vlaues

np.int64(0)

In [13]:
 age=df.drop(columns=['Income']) # it will remove the particular  column 
print(age)

    Sales  CompPrice  Advertising  Population
0    9.50        138           11         276
1   11.22        111           16         260
2   10.06        113           10         269
3    7.40        117            4         466
4    4.15        141            3         340
5   10.81        124           13         501
6    6.63        115            0          45
7   11.85        136           15         425
8    6.54        132            0         108
9    4.69        132            0         131
10   9.01        121            9         150
11  11.96        117            4         503
12   3.98        122            2         393
13  10.96        115           11          29
14  11.17        107           11         148
15   8.71        149            5         400
16   7.58        118            0         284
17  12.29        147           13         251
18  13.91        110            0         408

In [18]:
name=df.dropna(subset=['Sales']) # it will remove the particular  column 
print(name)

    Sales  CompPrice  Income  Advertising  Population
0    9.50        138      73           11         276
1   11.22        111      48           16         260
2   10.06        113      35           10         269
3    7.40        117     100            4         466
4    4.15        141      64            3         340
5   10.81        124     113           13         501
6    6.63        115     105            0          45
7   11.85        136      81           15         425
8    6.54        132     110            0         108
9    4.69        132     113            0         131
10   9.01        121      78            9         150
11  11.96        117      94            4         503
12   3.98        122      35            2         393
13  10.96        115      28           11          29
14  11.17        107     117           11         148
15   8.71        149      95            5         400
16   7.58        118      32            0         284
17  12.29        147      74           13         251
18  13.91        110     110            0         408

In [19]:
age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        19 non-null     float64
 1   CompPrice    19 non-null     int64
 2   Advertising  19 non-null     int64
 3   Population   19 non-null     int64
dtypes: float64(1), int64(3)
memory usage: 736.0 bytes

In [20]:
name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        19 non-null     float64
 1   CompPrice    19 non-null     int64
 2   Income       19 non-null     int64
 3   Advertising  19 non-null     int64
 4   Population   19 non-null     int64
dtypes: float64(1), int64(4)
memory usage: 888.0 bytes

In [23]:
from scipy import stats
import numpy as np
df = df[(np.abs(stats.zscore(df['Income'])) < 3)]  
# z score value if value must between -3 to 3 if it above from -3 or 3 it will detect as outlier 
print(df)

    Sales  CompPrice  Income  Advertising  Population
0    9.50        138      73           11         276
1   11.22        111      48           16         260
2   10.06        113      35           10         269
3    7.40        117     100            4         466
4    4.15        141      64            3         340
5   10.81        124     113           13         501
6    6.63        115     105            0          45
7   11.85        136      81           15         425
8    6.54        132     110            0         108
9    4.69        132     113            0         131
10   9.01        121      78            9         150
11  11.96        117      94            4         503
12   3.98        122      35            2         393
13  10.96        115      28           11          29
14  11.17        107     117           11         148
15   8.71        149      95            5         400
16   7.58        118      32            0         284
17  12.29        147      74           13         251
18  13.91        110     110            0         408

In [25]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['Population'] = encoder.fit_transform(df['Population']) # we use label encoder to arrange the 
#values based on the alphbatic or what will come first 
print(df)

    Sales  CompPrice  Income  Advertising  Population
0    9.50        138      73           11           9
1   11.22        111      48           16           7
2   10.06        113      35           10           8
3    7.40        117     100            4          16
4    4.15        141      64            3          11
5   10.81        124     113           13          17
6    6.63        115     105            0           1
7   11.85        136      81           15          15
8    6.54        132     110            0           2
9    4.69        132     113            0           3
10   9.01        121      78            9           5
11  11.96        117      94            4          18
12   3.98        122      35            2          12
13  10.96        115      28           11           0
14  11.17        107     117           11           4
15   8.71        149      95            5          13
16   7.58        118      32            0          10
17  12.29        147      74           13           6
18  13.91        110     110            0          14