In [1]:
import pandas as pd

# Load dataset and assign to df
df = pd.read_csv("data.csv")
print(df)

    Sales  CompPrice  Income  Advertising  Population
0    9.50        138      73           11         276
1   11.22        111      48           16         260
2   10.06        113      35           10         269
3    7.40        117     100            4         466
4    4.15        141      64            3         340
5   10.81        124     113           13         501
6    6.63        115     105            0          45
7   11.85        136      81           15         425
8    6.54        132     110            0         108
9    4.69        132     113            0         131
10   9.01        121      78            9         150
11  11.96        117      94            4         503
12   3.98        122      35            2         393
13  10.96        115      28           11          29
14  11.17        107     117           11         148
15   8.71        149      95            5         400
16   7.58        118      32            0         284
17  12.29        147      74           13         251
18  13.91        110     110            0         408

In [2]:
column_name='Income'
mean=df[column_name].mean() # method to calculate particular colunmn value
print(mean)

79.21052631578948

In [3]:
column_name='Sales'
meanSales=df[column_name].mean()
print(meanSales)

9.074736842105262

In [4]:
column_name='Income'
mode=df[column_name].mode()
print(mode)

0     35
1    110
2    113
Name: Income, dtype: int64

In [5]:
column_name='Income'
median=df[column_name].median()
print(median)

81.0

In [6]:
name=df.mean() # average of the data 
print(name)

Sales            9.074737
CompPrice      124.473684
Income          79.210526
Advertising      6.684211
Population     283.526316
dtype: float64

In [7]:
name1=df.mode() # most coccuring vslue 
print(name1)

    Sales  CompPrice  Income  Advertising  Population
0    3.98      115.0    35.0          0.0          29
1    4.15      117.0   110.0          NaN          45
2    4.69      132.0   113.0          NaN         108
3    6.54        NaN     NaN          NaN         131
4    6.63        NaN     NaN          NaN         148
5    7.40        NaN     NaN          NaN         150
6    7.58        NaN     NaN          NaN         251
7    8.71        NaN     NaN          NaN         260
8    9.01        NaN     NaN          NaN         269
9    9.50        NaN     NaN          NaN         276
10  10.06        NaN     NaN          NaN         284
11  10.81        NaN     NaN          NaN         340
12  10.96        NaN     NaN          NaN         393
13  11.17        NaN     NaN          NaN         400
14  11.22        NaN     NaN          NaN         408
15  11.85        NaN     NaN          NaN         425
16  11.96        NaN     NaN          NaN         466
17  12.29        NaN     NaN          NaN         501
18  13.91        NaN     NaN          NaN         503

In [8]:
name=df.median() # middle valu
print(name)

Sales            9.5
CompPrice      121.0
Income          81.0
Advertising      5.0
Population     276.0
dtype: float64

In [9]:
variance=df['Income'].var() # to calcultate the varience for spectfic columns
print(variance)

956.0643274853802

In [10]:
vare=df['Sales'].var()# to calcultate the varience for spectfic columns
print(vare)

8.525937426900585

In [11]:
variance=df.var() # used to calculate over variance
print(variance)

Sales              8.525937
CompPrice        166.152047
Income           956.064327
Advertising       32.450292
Population     22602.040936
dtype: float64

In [12]:
sd=df['Income'].std() # to calculaye std in particular columsn 
print(sd)

30.92028989976291

In [13]:
std=df.std()  #  to calulate overall std in a data set
print(std)

Sales            2.919921
CompPrice       12.889998
Income          30.920290
Advertising      5.696516
Population     150.339752
dtype: float64

In [14]:
import scipy.stats as stats # libraryu to find skeweness,kurtosis
ske=df['Income'].skew() #used to find the symmetric of specific column (greater than zero it is right ,postive)(lesser that zero it is left and negative)
print(ske)

-0.47015533836982554

In [15]:
skew=df.skew() # used to fing the symmetric of dataset (right or left side)
print(skew)

Sales         -0.377243
CompPrice      0.590531
Income        -0.470155
Advertising    0.163904
Population    -0.167600
dtype: float64

In [16]:
kurt=df['Income'].kurt() #  > 3 → Data is more peaked (leptokurtic) with heavy tails (more extreme values).
                             # = 3 → Data is normal-like (mesokurtic).
                             #< 3 → Data is flatter (platykurtic) with light tails.
print(kurt)

-1.2237191711610667

In [17]:
kurt=df['Sales'].kurt()# it usede to  find which istribution is more peaked (tall and thin) or flatter (wide and spread out) compared to a normal distribution.
print(kurt)

-0.8330185958539817

In [18]:
kut=df.kurt()  # for entire data set 
print(kut)

Sales         -0.833019
CompPrice     -0.865634
Income        -1.223719
Advertising   -1.550681
Population    -1.108403
dtype: float64

In [21]:
percentile_25 = df['Income'].quantile(0.25)
percentile_50 = df['Sales'].quantile(0.50)
percentile_75 = df['Population'].quantile(0.75)     
print(percentile_25)                               # it used to find the data below 25%,50%(middle),75% of data 
print(percentile_50)
print(percentile_75)

56.0
9.5
404.0

In [22]:
iqr= percentile_75 - percentile_25   #Measures the spread of the middle 50% of the data.
#IQR = Q3 - Q1,Helps detect outliers: ,Lower Bound = Q1 - 1.5 × IQRU ,pper Bound = Q3 + 1.5 × IQR,Any values outside this range are considered outliers.
print(iqr)

348.0

In [ ]:
import matplot.pyplot as plt